{% extends 'template/template.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			{% set categories = [] %}
			{% for category in company.category %}
				{% set categories = categories|merge([category.name]) %}
			{% endfor %}
			<h3>{{company.title}}</h3>
			<h5>in {{categories|join(', ')}}</h5>
			<br>
			<h3>About</h3>
			<h5>
			{{company.description}}
			<br>Address: {{company.address}}, {{company.city.name}} - {{company.city.state}},{{company.zipcode}}
			<br>Phone: {{company.phonenumber}}
			</h5>
		</div>
	</div>
{% endblock %}