{% extends 'template/template.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h2 class="offset1">Results for "{{ key_word }}"</h2>
			<ol>
				{% for company in companies %}
					{% set categories = [] %}
					{% for category in company.category %}
						{% set categories = categories|merge([category.name]) %}
					{% endfor %}
					<li style="font-size:25px"><a href="{{base_url()}}welcome/company/{{ company.id }}">{{ company.title }}</a><br><span style="font-size:16px">in {{ categories|join(', ') }}</span></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	{% endblock %}