<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Business Finder</title>

<script src="{{base_url()}}assets/js/jquery-3.2.1.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{base_url()}}assets/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="{{base_url()}}assets/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{base_url()}}assets/js/bootstrap-select/css/bootstrap-select.min.css">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Business Finder Admin</h1>
				<br>
			</div>
		</div>
		{% block content %}
			conteúdo a ser inserido
		{% endblock %}
	</div>
</body>

<!-- Latest compiled and minified JavaScript -->
<script src="{{base_url()}}assets/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="{{base_url()}}assets/js/bootstrap-select/js/bootstrap-select.min.js"></script>

</html>